# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~

# ------------------- FPGA -------------------
# 
# Source files (always under source control):
# *.bdf           - Schematic
# *.bsf           - Symbols
# *.inc           - AHDL include
# *.lai           - Logic analyzer interface
# *.mif           - Memory init
# *.ptf           - SOPC file (old but recommended)
# *.qip           - MegaWizard IP
# *.sopc          - SOPC file
# *.tcl           - Scripts
# *.tdf           - AHDL source
# *.v             - Verilog source
# *.vhd           - VHDL source
# *.vwf           - Simulation stimuli
# 
# Assignments & settings (always under source control):
# *.cdf           - Programming chain settings
# *.qdf           - Default assignments
# *.qpf           - Project file
# *.qsf           - Assignments (except timing)
# *.sdc           - Timing constrains. This file should never be written directly by TimeQuest, since it might get randomly rearranged. Write to a separate file and copy-paste into main file.
# *.srf           - Message supressions
# 
# Output files (normally under source control):
# *.pof           - Programming file
# *.rbf           - Programming file (normally not present)
# *.sof           - Programming file
# *.ttf           - Output in text format (normally not present)
*.sof

# Special cases (consider source control):
# \db\*.*         - Improves quartus compilation time. Lots of files. If and only if incremental compilation will be used this should be under source control.
# \qdb\*.*
# \simulation\*.* - This folder is for ModelSim. Quartus Simulator works without this folder. If ModelSim is used this should be under source control.
# \greybox_tmp\*  - 
# *.mpf           - ModelSim File
# *.mti           - ModelSim File
# *.wlf           - ModelSim File
/**/db/
/**/incremental_db/
/**/qdb/
/**/simulation/
/**/greybox_tmp/
*.mpf
*.mti
*.wlf

# Report files (normally not under source control):
# *.done          - Date
# *.qarlog        - Log of project archiving
# *.rpt           - Reports
# *.summary       - Report summaries
# *.smsg          - 
*.done
*.qarlog
*.rpt
*.summary
*.smsg

# Generated files (never under source control):
# \timing\*.*     - No settings, just generated timing stuff
# *.qws           - GUI settings (window positions is a user rather than project option)
# *.cmp           - Component declarations
# *.dpf           -
# *.eqn           - Equations
# *.html          -
# *.jpg           - Images generated by some megawizards?
# *.pin           -
# *.ppf           -
# *.jdi           - JTAG Debugging Information File
/timing/*.*
*.qws
*.cmp
*.dpf
*.eqn
*.html
*.jpg
*.pin
*.ppf
*.jdi
*.ver

# Backup files (never under source control):
# *.bak           - Backup of single files
# *.qar           - Quartus archive
*.bak
*.qar
# --------------------------------------------

# ------------------- CCS -------------------
.jxbrowser-data/
/**/.metadata/
/**/.settings
/**/RemoteSystemsTempFiles/
/**/Debug/**/*
!/**/Debug/**/*.out
# -------------------------------------------

# ------------------- M51 -------------------
*.opt
*.lst
*.obj
*.m51
*.lnp
*.plg
# -------------------------------------------

# ------------------- Altium -------------------
*.SchDocPreview
*.PcbDocPreview
*.log
/**/History/
# ----------------------------------------------

# ------------------- Documentation -------------------
*~*
*.htm
*.html
# -----------------------------------------------------

# ------------------- Visual Studio -------------------
/**/obj/
/**/Debug/*.pdb
/**/Debug/*.vshost.exe
# -----------------------------------------------------